psycopg2-binary
pgvector
sympy
sentence-transformers
torch
pandas
python-dotenv
tqdm
ctransformers
transformers
numpy<2
fastapi
uvicorn
websockets
openai
easyocr
opencv-python
pillow
pytesseract
matplotlib
python-multipart
joblib
scikit-learn
xgboost
openpyxl
